<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.education.paper.dao.KnowledgeDao">

    <resultMap id="KnowledgeResult" type="com.education.paper.entity.Knowledge">
        <id column="knowledge_num" jdbcType="INTEGER" property="knowledge_num" />
        <result column="knowledgeName" jdbcType="VARCHAR" property="knowledgeName" />
        <result column="topindex" jdbcType="INTEGER" property="topindex" />
    </resultMap>

    <select id="selectAllKnowledge" resultMap="KnowledgeResult">
        SELECT *
        FROM tb_knowledge
    </select>

    <select id="selectIndexNot0" parameterType="String" resultMap="KnowledgeResult">
        SELECT *
        FROM tb_knowledge
        WHERE topindex !=0
    </select>


    <insert id="insertOneKnowledge" parameterType="com.education.paper.entity.Knowledge" keyProperty="knowledge_num"  useGeneratedKeys="true">
        INSERT INTO tb_knowledge(knowledgeName,topindex,topindex2)
        VALUES (#{knowledgeName},#{topindex},#{topindex2})
    </insert>





</mapper>